<template>
  <v-app>
    <app-bar />
    <v-main>
      <v-container fluid>
        <slot />
      </v-container>
    </v-main>
    <v-footer app>
    </v-footer>
  </v-app>
</template>


<script>
import AppBar from '@/components/elements/AppBar.vue'

export default {
  components: {
    AppBar,
  },
}
</script>