<template>
  <div id="screen" ref="screen">
    <div id="board" ref="board">
      <post-it v-for="item in post_it_list" :key="item.content"
        :zoom="zoom"
        :scale="scale_mm_px_coef"
        :content="item.content"
        :background="item.background"
        :z-index="item['z-index']"
      />
    </div>
  </div>
</template>

<script>

import PostIt from '@/components/elements/PostIt';

export default {
  name: 'BoardPage',
  props: [
    'board_id'
  ],
  components: {
    PostIt,
  },
  data() {
    return {

      post_it_list = [
        {
          content: 'From post it list, post it A',
          'z-index': 1,
          background: '#ffb5d1',
        },
        {
          content: 'From post it list, post it B',
          'z-index': 1,
          background: 'rgb(122, 185, 102)',
        },
      ],

      wheel_count: 10,

      display_board_width: null,
      display_board_height: null,

      scale_mm_px_coef: null,

      zoom: 1,

      startX: null,
      startY: null,
      initialMouseX: null,
      initialMouseY: null,

      board_width_mm: 680,
      board_height_mm: 1050,

      screen_width: null,
      screen_height: null,
      
    }
  },
  mounted() {

    console.log("board_id", this.board_id)

    this.initBoard()
    this.initScreen()
    window.addEventListener('wheel', (event) => this.wheelZoom(event), { passive: false });
    window.onresize = () => this.resizeWindow()

    const {
      board,
    } = this.$refs

    board.addEventListener('mousedown', (e) => {
      this.startX = board.offsetLeft
      this.startY = board.offsetTop
      this.initialMouseX = e.clientX
      this.initialMouseY = e.clientY
      document.addEventListener('mousemove', this.mousemove)
      document.addEventListener('mouseup', this.mouseup)
      return false
    })
  },
  methods: {
    resizeWindow() {
      this.screen_height = window.innerHeight
      this.$refs.screen.style.height = this.screen_height + 'px'
    },
    wheelZoom(event) {
      event.preventDefault()

      if (event.wheelDelta < 0) {
        if (this.wheel_count < 40) {
          if (this.display_board_height <= window.innerHeight) {
            return;
          }
          this.wheel_count++
        }
      } else {
        if (this.wheel_count > 1) {

          this.wheel_count--
        }
      }
      this.zoom = 10 / this.wheel_count
      
      // Resizing and calculating new x / y position centered on mouse position
      const client_mouse_x = event.clientX
      const client_mouse_y = event.clientY

      const previous_display_board_width = this.display_board_width
      const previous_display_board_height = this.display_board_height

      const new_display_board_width = this.board_width_mm * this.scale_mm_px_coef * this.zoom
      const new_display_board_height = this.board_height_mm * this.scale_mm_px_coef * this.zoom

      const viewport_board_rect = this.$refs.board.getBoundingClientRect();

      const relative_board_x_mouse = client_mouse_x - viewport_board_rect.left
      const relative_board_y_mouse = client_mouse_y - viewport_board_rect.top

      const scaling_x_size = previous_display_board_width - new_display_board_width
      const scaling_y_size = previous_display_board_height - new_display_board_height

      const x_proportion = relative_board_x_mouse / previous_display_board_width
      const y_proportion = relative_board_y_mouse / previous_display_board_height

      let new_x_offset = scaling_x_size * x_proportion;
      let new_y_offset = scaling_y_size * y_proportion;

      // Screen adaptation max width
      if (window.innerWidth > previous_display_board_width || window.innerWidth > new_display_board_width) {
        this.$refs.screen.style.width = new_display_board_width + 'px'
        new_x_offset = 0
        this.$refs.board.style.left = '0px'
        if (new_display_board_width > window.innerWidth) {
          this.$refs.screen.style.width = window.innerWidth + 'px'
        }
      }

      // Apply render modification
      this.display_board_height = new_display_board_height
      this.display_board_width = new_display_board_width
      this.$refs.board.style.height = this.display_board_height + 'px'
      this.$refs.board.style.width = this.display_board_width + 'px'

      this.$refs.board.style.left = this.boardLimitXBoundaries(this.$refs.board.offsetLeft + new_x_offset) + 'px'
      this.$refs.board.style.top = this.boardLimitYBoundaries(this.$refs.board.offsetTop + new_y_offset) + 'px'
    },

    mousemove(event) {
      let dx = event.clientX - this.initialMouseX
      let dy = event.clientY - this.initialMouseY

      this.$refs.board.style.left = this.boardLimitXBoundaries(this.startX + dx) + 'px'
      this.$refs.board.style.top = this.boardLimitYBoundaries(this.startY + dy) + 'px'
      return false
    },

    mouseup() {
      document.removeEventListener('mousemove', this.mousemove)
      document.removeEventListener('mouseup', this.mouseup)
    },

    initScreen() {
      this.screen_width = this.display_board_width
      this.screen_height = window.innerHeight
      this.$refs.screen.style.width = this.screen_width + 'px'
      this.$refs.screen.style.height = this.screen_height + 'px'
    },

    initBoard() {
      this.display_board_height = window.innerHeight
      this.display_board_width = this.display_board_height / this.board_height_mm * this.board_width_mm

      this.$refs.board.style.height = this.display_board_height + 'px'
      this.$refs.board.style.width = this.display_board_width + 'px'
      
      this.scale_mm_px_coef = this.display_board_width / this.board_width_mm
    },

    boardLimitXBoundaries(board_position_x) {
      // Fixing left boundary 
      if (board_position_x >= 0) {
        return 0
      }
      // Fixing right boundary
      if (board_position_x + this.$refs.board.offsetWidth < this.$refs.screen.offsetWidth) {
        return this.$refs.screen.offsetWidth - this.$refs.board.offsetWidth
      }
      return board_position_x
    },
    boardLimitYBoundaries(board_position_y) {
      if (board_position_y >= 0) {
        return 0
      }
      if (board_position_y + this.$refs.board.offsetHeight < this.$refs.screen.offsetHeight) {
        return this.$refs.screen.offsetHeight - this.$refs.board.offsetHeight
      }
      return board_position_y
    },

  }
}
</script>

<style scoped>
#screen {
  background: #cdcdcd;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
}
#board {
  background: #fffef2;
  background: #cdcdf2;
  position: absolute;
}
#board2BU {
  background: #fffef2;
}
</style>
