<template>
  <div>
    <div>Boards test</div>
    <button @click="createBoard">Create board</button>
    <ul>
      <li v-for="board in board_list" :key="board.id">
        {{ board.id }}
        -- 
        {{ board.name }}
      </li>
    </ul>
  </div>
</template>

<script>

import { board_collection } from '@/repositories/firebase'
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'HomePage',
  data() {
    return {
      board_list: []
    }
  },
  mounted() {
    board_collection.orderBy('created_date', 'desc').onSnapshot((snapshot) => {
      let board_list = []
      snapshot.forEach((doc) => {
        let board = doc.data()
        board.id = doc.id
        board_list.push(board)
      })
      console.log(board_list)
      // store.commit('setBoardList', board_list)
    })
  },
  methods: {
    ...mapActions({
      'storeCreateBoard': 'board/createBoard',
      'setBoardList': 'board/setBoardList',
      'createBoardStore' : 'board/createBoard',
    }),
    async createBoard() {
      console.log("Board creation clicked")
      const new_board = {
        name: 'board-test',
        created_date: new Date(),
      }
      this.createBoardStore(new_board)
      try {
        const data = await board_collection.add(new_board);
        console.log("created board", data)
      } catch (error) {
        console.log("error on creation", error)
      }
    },
  },
  computed: {
    ...mapGetters({
    //  'board_list': 'board/boardList',
    })
  },
}
</script>
