<template>
    <v-app-bar app>     
        <v-tabs >
          <v-tab :to="{ name: 'HomePage' }">Accueil</v-tab>
          <v-tab :to="{ name: 'BoardPage' }">Board</v-tab>
          <v-tab :to="{ name: 'AboutPage' }">A propos</v-tab>
        </v-tabs>
    </v-app-bar>
</template>

<script>
export default {
    name: 'AppBar',
}
</script>