<template>
  <div class="dragable" ref="postit">
    <div v-if="display_content">
      {{content}}
    </div>
  </div>
</template>

<script>
export default {
  name: 'PostIt',
  props: [
    'zoom',
    'background',
    'scale',
    'content',
    'z-index',
  ],
  data() {
    return {
      startX: null,
      startY: null,
      initialMouseX: null,
      initialMouseY: null,

      post_it_top: 0,
      post_it_left: 0,

      width_mm: 76,
      height_mm: 76,
      initial_font_size: 6,

      display_content: true,
    }
  },
  mounted() {
    this.resize()
    this.$refs.postit.style.background = this.background
    this.$refs.postit.style['box-shadow'] = this.background
    const {
      postit,
    } = this.$refs

    postit.addEventListener('mousedown', (event) => {
      event.stopPropagation()
      this.startX = postit.offsetLeft;
      this.startY = postit.offsetTop;
      this.initialMouseX = event.clientX;
      this.initialMouseY = event.clientY;
      document.addEventListener('mousemove', this.mousemove);
      document.addEventListener('mouseup', this.mouseup);
      return false;
    });

  },
  methods: {
    mousemove(event) {
      let dx = event.clientX - this.initialMouseX
      let dy = event.clientY - this.initialMouseY
      this.post_it_top = this.startY + dy
      this.post_it_left = this.startX + dx
      this.$refs.postit.style.top = this.post_it_top + 'px'
      this.$refs.postit.style.left = this.post_it_left + 'px'
      return false;
    },
    mouseup() {
      document.removeEventListener('mousemove', this.mousemove)
      document.removeEventListener('mouseup', this.mouseup)
      this.post_it_top /= this.zoom
      this.post_it_left /= this.zoom
    },
    resize() {
      this.$refs.postit.style.height = (this.width_mm * this.scale * this.zoom) + 'px'
      this.$refs.postit.style.width = (this.height_mm * this.scale * this.zoom) + 'px'
      this.$refs.postit.style['font-size'] = (this.initial_font_size * this.scale * this.zoom) + 'px'
      this.$refs.postit.style.top = (this.post_it_top * this.zoom) + 'px'
      this.$refs.postit.style.left = (this.post_it_left * this.zoom) + 'px'
    },
  },
  watch: {
    zoom: function() {
      this.resize()
    },
    scale: function() {
      this.resize()
    }
  },
}
</script>

<style scoped>
.dragable {
  position: absolute;
  box-shadow: 3px 3px 10px #cdcdcd;
  font-size: 16px;
}
</style>
